<!-- <custom-parent-a></custom-parent-a> -->
<!-- <app-list-cards></app-list-cards> -->
<!-- <app-list-items2 [values]="list"> -->
  <!-- <div *ngFor="let item of list"> -->
    <!-- <ng-template appHeader let-titulo>
      {{titulo.title}}
    </ng-template>
    <ng-template appBody let-data >
      {{data.id}}
    </ng-template> -->
  <!-- </div> -->
<!-- </app-list-items2> -->
<app-list-items2 [values]="list">
<table>
  <ng-template appHeader>
      <tr class="grid grid-nogutter th col-12">
          <th style=" width: 25%;" >Titulo</th>
          <th style=" width: 35%;">Descripcion</th>
          <th style=" width: 20%;">Version</th>
          <th style=" width: 20%;">Id</th>
      </tr>
  </ng-template>
  <ng-template appBody let-info>
      <tr class="grid grid-nogutter tr col-12">
          <td  style="width: 25%; text-align: center;" >{{ info.title }}</td>
          <td  style=" width: 35%; text-align: center;">{{ info.describe }}</td>
          <td  style="width: 20%; text-align: center;">{{ info.version }}</td>
          <td  style=" width: 20%; text-align: center;">{{ info.id }}</td>
      </tr>
  </ng-template>
</table>
</app-list-items2>
