<!-- <hr />
<ng-container *ngFor=" let item of list">
  <div [ngStyle]="{
    'max-width':widthExp}">
  <div style="padding: 5px">BODY {{ item.status }}</div>
</div>
</ng-container>
<hr />
<div *ngFor="let item of list" [ngClass]="{'status':item.status}">
  <div style="padding: 5px">BODY {{ item.status }}</div>
</div> -->

<div *ngFor="let item of values">
  <hr>
  <ng-container *ngIf="item.custom">
    <ng-container *ngTemplateOutlet="bodyTemplate; context:{
      $implicit:item,
      title:item.title
    }"></ng-container>
  </ng-container>
  <ng-container *ngIf="!item.custom">
   {{item | json}}
  </ng-container>

</div>
